.layer {
    background: rgb(213 213 213);
}

.centered {
    max-width: 967px;
    margin: 0 auto;
}

figure {
    margin: 0;
}

.card {
	background: rgb(255, 255, 255);
	margin-bottom: 2em;	
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card_content {
	padding: 1.4em;
}

.card_content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card_content p {
	font-size: 95%;
}

@media screen and (min-width:40em) {
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }

}


@media screen and (min-width:60em) {
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        display: flex;
        flex: 0 1 calc(33% - 1em);
    }

}