.title_cover {
    max-width: 100%;
    min-height: 576px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    background: linear-gradient(359deg, #000000c2, transparent);
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    max-width: 967px;
    margin: 0 auto;
}

.middle_section {
    margin: 0;
    padding: 0;
    background-color: rgb(212 212 215);
}

.box_container {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    gap: 2em;
    padding: 2em 0;
}

.top_section {
    background: url(/images/school.jpg) no-repeat center;
    background-size: cover;
}
